Gemfile.lock
.jekyll-cache/
_site/
_site/404.html
_site/about-the-author.html
_site/about.html
_site/contact.html
_site/documentation.html
_site/facts.html
_site/feed.xml
_site/getting-started.html
_site/index.html
_site/learning-resources.html
_site/resources.html
_site/sample-posts.html
_site/text-formatting.html
_site/welcome-to-millennial.html
