---
layout: default
title: Home
---

<div class='audio-container'></div>
  <audio controls autoplay loop autobuffer id="mscBack" style="margin: 0 auto; display: block; width: 300px">
    <source src="../assets/audio/jazz.ogg" type="audio/ogg">
    <source src="../assets/audio/jazz.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>

<script>
  var audio = document.getElementById("mscBack");
  audio.volume = 0.1;
</script>

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
