---
layout: default_noheader
title: Login
---

<div w3-include-html="index.html"></div>

<h2 align="center">Đăng Nhập</h2>

<p align="center" id="login">sinh nhật của Dơ vào ngày nào?</p>

<p align="center" id="demo"></p>

<script>
  var x = document.createElement("input");
  x.setAttribute("type", "text");
  x.setAttribute("value", "không biết");
  x.setAttribute("id", "txtAns");
  x.setAttribute("readonly", "readonly");;
  var br = document.createElement("br");
  document.getElementById("login").appendChild(br);
  document.getElementById("login").appendChild(x);

  var x = document.createElement("input");
  x.setAttribute("type", "button");
  x.setAttribute("value", "tiếp tục");
  x.setAttribute("id", "btnNext");
  x.setAttribute("onclick", "funcLogin_1()");
  document.getElementById("login").appendChild(x);

  var input = document.getElementById("txtAns");
  input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("btnNext").click();
    }
  });
</script>

<script>
function funcLogin_1()
{
  document.getElementById("btnNext").remove();
  document.getElementById("txtAns").setAttribute("id", "txtAns_");;

  var t = document.createTextNode("lêu lêu...");
  var br = document.createElement("br");
  document.getElementById("login").appendChild(br);
  // document.getElementById("login").appendChild(t);

  var img = document.createElement('img');
  img.src = '../assets/img/no.png';
  document.getElementById('login').appendChild(img);
  img.style.offsetLeft

  var t = document.createTextNode("quả gì cả Heo và Dơ cùng thích?");
  var br = document.createElement("br");
  document.getElementById("login").appendChild(br);
  document.getElementById("login").appendChild(t);

  var x = document.createElement("input");
  x.setAttribute("type", "text");
  x.setAttribute("value", "");
  x.setAttribute("id", "txtAns");
  var br = document.createElement("br");
  document.getElementById("login").appendChild(br);
  document.getElementById("login").appendChild(x);

  var x = document.createElement("input");
  x.setAttribute("type", "button");
  x.setAttribute("value", "tiếp tục");
  x.setAttribute("id", "btnNext");
  x.setAttribute("onclick", "funcLogin_2()");
  document.getElementById("login").appendChild(x);

  document.getElementById("txtAns").focus();

  var input = document.getElementById("txtAns");
  input.addEventListener("keyup", function(event) {
    document.getElementById("demo").innerHTML = "";
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("btnNext").click();
    }
  });
}
</script>

<script>
  function funcLogin_2()
  {
    let text = document.getElementById("txtAns").value;
    let n = text.search(/^((T|t)r(a|á)i |((Q|q)u(a|ả) |))(H|h)(o|ồ)ng$/i);
    if (n >= 0)
    {
      document.getElementById("demo").innerHTML = "...";
      window.location.href = "pages";
      // window.location.href = window.location.pathname + "test.html"
      // var currentURL = window.location.href;
      // newURL = currentURL.replace(/[?|=|&]/g, "/");
      // // window.location=newURL;
      // document.getElementById("demo").innerHTML = newURL;
    }
    else
    {
      document.getElementById("demo").innerHTML = "hem đúng!";
    }
  }
</script>

<!-- <script>
  var input = document.getElementById("txtAns");
  input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13) {
      event.preventDefault();
      document.getElementById("btnNext").click();
    }
  });
</script> -->