---
layout: default_noheader
title: Login
---

<h2>Đăng Nhập</h2>

<p id="login">Sinh nhật ba dơ vào ngày nào?<br>(không biết thì nhấn tiếp tục)</p>

<p id="demo"></p>

<script>
  var x = document.createElement("input");
  x.setAttribute("type", "text");
  x.setAttribute("value", "dd/mm/yy");
  x.setAttribute("id", "txtAns");
  var br = document.createElement("br");
  document.getElementById("login").appendChild(br);
  document.getElementById("login").appendChild(x);

  var x = document.createElement("input");
  x.setAttribute("type", "button");
  x.setAttribute("value", "tiếp tục");
  x.setAttribute("id", "btnNext");
  x.setAttribute("onclick", "funcLogin_1()");
  document.getElementById("login").appendChild(x);
</script>

<script>
function funcLogin_1()
{
  document.getElementById("btnNext").remove();
  document.getElementById("txtAns").setAttribute("id", "txtAns_");;

  var t = document.createTextNode("lêu lêu...");
  var br = document.createElement("br");
  document.getElementById("login").appendChild(br);
  document.getElementById("login").appendChild(t);

  var t = document.createTextNode("Quả gì cả Heo và Dơ cùng thích?");
  var br = document.createElement("br");
  document.getElementById("login").appendChild(br);
  document.getElementById("login").appendChild(t);

  // let text = document.getElementById("fname").value;
  // let n = text.search(/((Q|q)u(a|ả)|)( |)(H|h)(o|ồ)ng/i);
  // document.getElementById("demo").innerHTML = n;

  var x = document.createElement("input");
  x.setAttribute("type", "text");
  x.setAttribute("value", "");
  x.setAttribute("id", "txtAns");
  var br = document.createElement("br");
  document.getElementById("login").appendChild(br);
  document.getElementById("login").appendChild(x);

  var x = document.createElement("input");
  x.setAttribute("type", "button");
  x.setAttribute("value", "tiếp tục");
  x.setAttribute("id", "btnNext");
  x.setAttribute("onclick", "funcLogin_2()");
  document.getElementById("login").appendChild(x);
}
</script>

<script>
  function funcLogin_2()
  {
    let text = document.getElementById("txtAns").value;
    let n = text.search(/((Q|q)u(a|ả)|)( |)(H|h)(o|ồ)ng/i);
    if (n >= 0)
    {
      document.getElementById("demo").innerHTML = "Finally!";
    }
    else
    {
      document.getElementById("demo").innerHTML = "What???";
    }
  }
  </script>